section.menu
  a(href="#").logo
    img(src="assets/images/logo.png")
  .menu-user(style="background-image: url('assets/images/user.jpg');")
  nav.nav
    .nav__line
    ul.nav-list
      li.nav-item
        img(src="assets/images/icon_fire.svg")
      li.nav-item
        img(src="assets/images/icon_map.svg")
      li.nav-item
        img(src="assets/images/icon_boot.svg")
  //.user
